.LenkePanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: .75rem 1.25rem;
    border-width: 1px;
    border-radius: .5rem;
    border-style: solid;
    border-color: var(--ax-neutral-400);
    text-decoration: none;
    &:hover {
        background-color: #ecf3fe;
        border-color: #cbd4e1;
        .linkText {
            text-decoration: underline;
            text-decoration-thickness: 2px;
            text-underline-offset: 0.15625rem;
        }
        .LenkePanel__ikon {
            transform: translateX(0.25em);
        }
    }
}
.LenkePanel__ikon {
    color: var(--ax-accent-800);
    transition: transform .2s;
}

.LenkePanel__container {
    font-size: 1.25rem;
    line-height: 1.6;
}
.linkText {
    color: var(--ax-accent-800);
    font-weight: 600;
    margin-bottom: 0;
}
.tagline {
    color: var(--ax-text-neutral-subtle);
    font-variant: all-small-caps;
    letter-spacing: 0.075rem;
    margin-top: var(--ax-space-2);
    text-transform: uppercase;
}
