@import 'tailwindcss/base';
@import '@navikt/ds-css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.maxWidth {
  max-width: 1280px;
}

.knapp {
  min-width: 80px;
}

.show-md-up {
  display: none;
}

.listSpacing {
  line-height: 1.5
}

.tekst-svak-graa {
  color: var(--a-gray-300);
}

@media screen and (min-width: 648px) {
  .show-md-up {
    display: initial;
  }
}
