.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 896px;
}

.merOppfolging {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 896px;
}

.panel {
    background-color: var(--a-gray-50);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
